name: Destroy EKS Cluster

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Validate AWS Access
      run: |
        aws sts get-caller-identity
        aws eks list-clusters

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Destroy
      run: |
        cd projects/deployK8Application/eks
        terraform init
        terraform destroy -auto-approve -var="cluster_name=jenkins-eks-cluster"