name: Deploy EKS and Application

on:
  workflow_dispatch:

#on:
#  push:
#    branches: [ main ]
#    paths:
#      - 'projects/deployK8Application/eks/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init & Apply
      run: |
        cd projects/deployK8Application/eks
        terraform init
        terraform apply -auto-approve

    - name: Setup Kubectl
      uses: azure/setup-kubectl@v3

    - name: Deploy to EKS
      run: |
        aws eks update-kubeconfig --name jenkins-eks-cluster --region us-east-1
        kubectl apply -f projects/deployK8Application/kubernetes/nginx-deployment.yaml
        kubectl delete service nginx --ignore-not-found
        kubectl apply -f projects/deployK8Application/kubernetes/nginx-service.yaml